{% load i18n %}

{% if user.is_authenticated or not sopds_auth %}
<div class="row expanded {% if vailib_theme != 'premium' %}eink-footer{% else %}callout secondary{% endif %}" style="margin:0; padding:10px; border-top: 2px solid #000;">
    <div class="large-6 columns" style="margin-top:1rem; text-align: left;">
        <h5><a href="{% url "web:searchbooks" %}?searchtype=u" style="text-decoration: underline;">{% trans "BOOKSHELF" %}</a></h5>
        {% if sopds_auth %}
        <div style="display: flex; flex-wrap: wrap; gap: 5px;">
        {% for b in bookshelf %}
           <div style="width: 45px;">
                <a href="{% url "web:searchbooks" %}?searchtype=i&searchterms={{b.book_id}}">
                   <img src="{% url 'opds_catalog:thumb' b.book_id %}" alt="{{b.title}}" style="width: 40px; height: 60px; border: 1px solid #000;" onload="checkEinkCover(this)" onerror="this.style.display='none'; this.nextElementSibling.style.display='flex';">
                   <div class="eink-placeholder" style="display:none; border-width: 1px;">
                        <div class="round-shape" style="border-width: 1px;">
                             <span class="plt-title" style="font-size:0.4rem;">{{ b.title|truncatechars:10 }}</span>
                        </div>
                   </div>
                </a>   
           </div>
        {% endfor %}
        </div>
        {% else %}
        <p style="font-size: 0.8rem;">{% blocktrans %}Bookshelf is available only SimpleOPDS Catalog mode with activated user authorization.{% endblocktrans %}</p>
        {% endif %}
    </div>
    
    <div class="large-6 columns" style="margin-top:1rem; text-align: left;">
        <h5 style="border-bottom: 1px solid #000; padding-bottom: 3px;" data-trans="stat">{% trans "STATISTICS" %}</h5>
        <p style="font-size:0.9rem; line-height: 1.2;">
            <b data-trans="cat_con">{% trans "This сatalog contains:" %}</b><br>
            {{ stats.allbooks }} <span data-trans="bk_c">{% trans "books," %}</span> {{ stats.allauthors }} <span data-trans="aut_c">{% trans "authors," %}</span> {{ stats.allgenres }} <span data-trans="gen_c">{% trans "genres and" %}</span> {{ stats.allseries }} <span data-trans="t_ser">{% trans "series." %}</span>
        </p>
        <p style="font-size:0.8rem;">
            <b data-trans="l_scan">{% trans "Last collection scan:" %}</b> {{ stats.lastscan_date|default:"Never" }}
        </p>
    </div>
</div>
{% endif %}
