{% load i18n %}

<nav aria-label="{% trans 'You are here:' %}" role="navigation">
  <div class="breadcrumbs modern-breadcrumbs">
    {% for b in breadcrumbs %}
    <span class="crumb">
      {% if b.url %}
      <a href="{{ b.url }}">{{ b.name }}</a>
      {% else %}
      {{ b.name|default:b }}
      {% endif %}
    </span>
    {% if not forloop.last %}<span class="separator">/</span>{% endif %}
    {% endfor %}

    {% if breadcrumbs and breadcrumbs_cat %}<span class="separator">/</span>{% endif %}

    {% for b in breadcrumbs_cat %}
    <span class="crumb">
      {% if b.1 > 0 %}<a href="{% url 'web:catalog' %}?cat={{b.1}}">{% endif %}
        {% if b.1 == 0 %}<a href="{% url 'web:catalog' %}">{% endif %}
          {{ b.0 }}
          {% if b.1 >= 0 %}</a>{% endif %}
    </span>
    {% if not forloop.last %}<span class="separator">/</span>{% endif %}
    {% endfor %}
  </div>
</nav>